@import url(./__image/photo-grid__image.css);
@import url(./__list/photo-grid__list.css);
@import url(./__list-item/photo-grid__list-item.css);

.photo-grid {
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: 288px;
    margin: 0 auto 64px auto;
  }
}
