.place__website-link {
  text-transform: none;
  text-decoration-line: underline;
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  transition-delay: .3s;
}

.place__website-link:hover {
  opacity: .8;
}
