@import url(./_heading/place__website_heading.css);
@import url(./_link/place__website_link.css);

.place__website {
  height: 46px;
  width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
  align-self: end;
}
